# 1. Preprocess Data

In this notebook we preprocess genomic data associated with R-loops originally generated by the [Arsuaga–Vázquez Lab](https://arsuaga-vazquez-lab.faculty.ucdavis.edu) at UC Davis and reported in the paper *“The R-loop grammar predicts R-loop formation under different topological constraints”* [by Ferrari *et al.*](https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1013376) The raw data used here can be accessed from the [Zenodo repository](https://zenodo.org/records/15742754) as the file `fasta_bed.zip`.

The experimental data was obtained using **single-molecule R-loop footprinting and sequencing (SMRF-seq)**. This technique identifies the genomic start and end positions of R-loops formed on DNA plasmids under different initial topologies.

Each experiment is defined by a combination of the following parameters:

- **Plasmid**:  
  Two different DNA plasmids are used: **pFC53** and **pFC8**.

- **DNA topology**:  
  Plasmids are prepared in different topological states prior to transcription:
  - **Linearized**: Circular plasmids are linearized before transcription.
  - **Supercoiled**: Plasmids retain their native bacterial supercoiling, with supercoiling density approximately $\sim -0.07$.
  - **Gyrase-treated (Gyrasecr)**: Plasmids are treated with gyrase before transcription, increasing the negative supercoiling density to approximately $\sim -0.14$.

- **R-loop position**:  
  For each molecule, SMRF-seq identifies the **starting** and **ending** coordinates of the R-loop along the plasmid sequence. In this notebook, we focus on the **starting locations** of R-loops.


We use this data to construct libraries of short DNA sequences centered at the starting positions of R-loops. In subsequent notebooks, we show that these collections of words are structurally distinct: topological signatures derived from their **Insertion Chain Complexes** can differentiate between sets of words associated with R-loops formed under linear versus supercoiled DNA topologies.

### Construction of sequence libraries

We build these libraries as follows:

1. For each plasmid and each R-loop starting site, we extract a 14-mer window of DNA sequence centered at the starting position of the R-loop. That is, if $a_1$ denotes the first nucleotide of the R-loop, we consider the window $$a_{-7}a_{-6}\dots a_{-1}a_1a_2\dots a_6a_7,$$  centered at the R-loop start.

2. From this window, we extract all contiguous $k$-mers that include the start position, for $k=1, \dots, 14$:

   - **Length 1**:  $a_{-1}, \quad a_1$

   - **Length 2**:  $a_{-2}a_{-1}, \quad a_{-1}a_1, \quad a_1a_2$

   - **Length 3**:  $a_{-3}a_{-2}a_{-1},\quad a_{-2}a_{-1}a_1,\quad a_{-1}a_1a_2, \quad a_1a_2a_3$

   - $\vdots$

   - **Length 14**:  $a_{-7}a_{-6}\dots a_{-1}a_1\dots a_6a_7$
  
3. We aggregate all extracted $k$-mers across all R-loop start sites for a given experimental condition and compute their frequencies.

4. We normalize these frequencies by dividing each value by the maximum observed frequency, obtaining weights in the interval $(0,1]$.

5. We retain only the $N = 500$ words with the highest normalized frequencies to form the representative sequence library for that condition.

The resulting processed datasets are saved as `.pickle` files in the `data/preprocessed` directory for efficient use in the subsequent steps of the analysis.

In [1]:
#Make sure biopython is installed
#!pip install biopython

In [2]:
from utils.preprocess import read_subsequence, produce_table, get_words_combined
import pickle
import pandas as pd
import numpy as np
import os

In [3]:
# Folder paths in the notebook
folder_path_bed = "data/raw/fasta_bed/bed-files/"
folder_path_fasta = "data/raw/fasta_bed/fasta-files/"

max_N_words=500
max_window_side=7

# FASTA mapping
dictionary_fastas = {'pFC53':'pFC53.fa', 'pFC8':'pFC8.fa', 'pFC19FIXED':'pFC8.fa'}

In [11]:
#List all BED files
bed_files = [f for f in os.listdir(folder_path_bed) if f.endswith('.bed')]

#Create libraries for the Bed Files
Libraries=[]

min_len=2
location='end'

for file in bed_files:

    #Read BED file
    bed_df = pd.read_csv(os.path.join(folder_path_bed, file), sep="\t")

    #Rename BED file columns
    bed_df.columns = ["chrom", "start", "end", "extra_info", "extra_bit", "direction"]
    
    #Build sequence table around R-loop starts
    Table = produce_table(bed_df, folder_path_fasta, dictionary_fastas,max_window_size=max_window_side,location=location)
    
    # Generate combined k-mers
    words, freqs = get_words_combined(Table, max_w=max_window_side)

    # Normalize frequencies
    freqs=np.array(freqs)/np.max(freqs)
    
    # Build Library DataFrame and select top N words
    Table_Words=pd.DataFrame({'Words':words, 'Freqs':freqs})

    Table_Words['length']=Table_Words['Words'].apply(lambda x: len(x))
    Table_Words=Table_Words[Table_Words['length']>=min_len]

    Table_Words=Table_Words.sort_values('Freqs',ascending=False).reset_index(drop=True).iloc[0:max_N_words]

    # Get experiment name from file
    exp_name = file.replace('.bed', '')
    
    display(Table_Words)
    print(Table_Words.length.max())

    # Append to libraries list
    Libraries.append({'exp_name': exp_name, 'table': Table_Words})
     
#Save libraries
output_path = 'data/preprocessed/R_loops_14-mers_starting_site_min_len_'+str(min_len)+'_'+location+'.pickle'
with open(output_path, 'wb') as handle:
    pickle.dump(Libraries, handle)

       Words     Freqs  length
0         TT  0.495652       2
1         GA  0.469565       2
2        GAT  0.417391       3
3      GATCC  0.391304       5
4       GATC  0.391304       4
..       ...       ...     ...
261  GATTATC  0.017391       7
262  CGTTAAA  0.017391       7
263  AAGTGCC  0.017391       7
264  TTAAAAA  0.017391       7
265  GTTTTAA  0.017391       7

[266 rows x 3 columns]

7

       Words     Freqs  length
0         AA  0.533333       2
1        AAA  0.400000       3
2         AT  0.333333       2
3       AAAC  0.266667       4
4         TG  0.266667       2
..       ...       ...     ...
214  CGTTCAG  0.022222       7
215  CGGTGCT  0.022222       7
216  CCGGGAA  0.022222       7
217  AGCAGAT  0.022222       7
218  CGCAGAA  0.022222       7

[219 rows x 3 columns]

7

      Words     Freqs  length
0        TC  0.363339       2
1        AA  0.299509       2
2        GT  0.289689       2
3       TCA  0.270049       3
4        AT  0.265139       2
..      ...       ...     ...
495  GTAGGC  0.004910       6
496  AAGCCA  0.004910       6
497  CTAGAG  0.004910       6
498  GCCCCA  0.004910       6
499  TAGTTC  0.004910       6

[500 rows x 3 columns]

7

       Words     Freqs  length
0         TT  0.448706       2
1         AA  0.290508       2
2         GT  0.279003       2
3         AG  0.244487       2
4      GTGGT  0.241611       5
..       ...       ...     ...
495  GTTAATA  0.003835       7
496  GGTCTGA  0.003835       7
497  TTGCGCA  0.003835       7
498  TGATCTT  0.003835       7
499  AGCAGAT  0.003835       7

[500 rows x 3 columns]

7

     Words     Freqs  length
0       GT  0.346437       2
1       TA  0.331695       2
2       CT  0.265356       2
3       GG  0.257985       2
4       AA  0.206388       2
..     ...       ...     ...
495  TCACC  0.007371       5
496  AATGC  0.007371       5
497  ACGAT  0.007371       5
498  GTTTT  0.007371       5
499  TAACT  0.007371       5

[500 rows x 3 columns]

7

       Words     Freqs  length
0         TT  0.473684       2
1        TTG  0.342105       3
2        CGG  0.289474       3
3         CT  0.289474       2
4         CG  0.289474       2
..       ...       ...     ...
199  AACCAGC  0.017544       7
200  CGGAAGG  0.017544       7
201  TCAGAAG  0.017544       7
202  GGCGAGT  0.017544       7
203  CCAGTTA  0.017544       7

[204 rows x 3 columns]

7